extends ../layout

block content
 a(href='/bicicletas/create') Nueva bici

 table.table
  thead
   tr
    th(scope='col') #
    th(scope='col') Color
    th(scope='col') Modelo
    th(scope='col') Ubicacion
    th(scope='col')
    th(scope='col')
   tbody
    each bicicleta in bicis
     tr
      td(scope='row')
       = bicicleta.id
      td= bicicleta.color
      td= bicicleta.modelo
      td= bicicleta.ubicacion
      td
        a(href="bicicletas/" + bicicleta.id+ "/update") Editar
      td
       form.inline(method='post', action='bicicletas/' + bicicleta.id + '/delete')
        input(type='hidden', name='id' value= bicicleta.id)
        button.link-button(type='submit' name='submit_param' value='submit_value' class='btn')
         = 'Eliminar'