extends ../layout

block content
    a(href="/bicicletas") Volver
    
    br
    br
    br
    
    h1 Actualizar Bicicleta

    br
    br

    form(action=`/bicicletas/${bicicleta.id}/update`, method="post")
     label(for="id") ID:
     input#id(type="text", value= bicicleta.id, name="id")
     br
     label(for="color") Color:
     input#color(type="text", value= bicicleta.color, name="color")
     br
     label(for="modelo") Modelo:
     input#modelo(type="text", value= bicicleta.modelo, name="modelo")
     br
     label(for="lat") Latitud:
     input#modelo(type="text", value= bicicleta.ubicacion[0], name="lat")
     br
     label(for="lng") Longitud:
     input#modelo(type="text", value= bicicleta.ubicacion[1], name="lng")
     br
     br
     input.btn(type="submit", value="OK")